/* clear default value */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* Intilaize list tag */
body {
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  width: 100%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

/* ====================================================================================
                   Design Mobile First 
  ==================================================================================== */

/* Styling for header section */
.nav {
  display: flex;
  position: fixed;
  top: 0;
  height: 18vh;
  width: 100%;
  flex-direction: column;
  z-index: 7;

}
.header-nav-1 {
  height: 4vh;
  width: 100%;
  background-color: #000;
  display: none;
}

.header-nav-2 {
  display: flex;
  height: 6vh;
  justify-content: space-between;
  background-color: #fff;
}

.logo-image {
  width: 60px;
  height: 38px;
}

.invisible-links {
  display: none;
}
.fa-bars {
  color: #f00;
  padding: 0.7rem;
  display: inline-block;
}

.fa-search {
  padding: 0.7rem;
  margin-right: 0.1rem;
  border-right: 0.5px solid #ccc;
  border-left: 0.5px solid #ccc;
  color: #ccc;
}
.header-nav-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8vh;
  width: 100%;
  background-color: rgb(240, 211, 48);
  font-size: 0.7rem;
}

.header-nav-3 a {
  color: #000;
}




/* Highlight Section */

main {
  padding-top: 60px;
}

.flex {
  display: flex;
}

.content-container {
  display: flex;
  flex-direction: column;
  height: 200vh;
  margin: 0 10px;
  padding-top: 20px;
}

.content-info,
.sub-content-info {
  margin-top: 20px;
  height: 60vh;
  margin-bottom: 10px;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
  padding: 15px;
}

.first-image {
  background-image: linear-gradient(rgba(255,255,255, 0.2), rgba(0,0,0,1)), url(../img/opal-image.png);
  background-size: cover;
  background-position: center;
}

.second-image {
  background-image: linear-gradient(rgba(255,255,255, 0.2), rgba(0,0,0,1)), url(../img/google-snip-image.png);
  background-size: cover;
  background-position: center;
}

.third-image {
  background-image: linear-gradient(rgba(255,255,255, 0.2), rgba(0,0,0,1)), url(../img/detect-snip-image.png);
  background-size: cover;
  background-position: center;
}

.content_container h1,
.content-container h2, {
  margin-bottom: 20px;
  color: #fff;
}


