/* clear default value */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Intilaize list tag */
body {
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

/* ====================================================================================
                   Design Mobile First 
  ==================================================================================== */

/* Styling for header section */

.nav {
  display: flex;
  position: fixed;
  top: 0;
  height: 18vh;
  width: 100%;
  flex-direction: column;
  z-index: 7;
}

.header-nav-1 {
  height: 4vh;
  width: 100%;
  background-color: #000;
  display: none;
}

.header-nav-2 {
  display: flex;
  height: 8vh;
  justify-content: space-between;
  background-color: #fff;
}

.invisible-links {
  display: none;
}

.fa-bars {
  color: #f00;
  padding: 0.7rem;
  display: inline-block;
}

.fa-search {
  padding: 0.7rem;
  margin-right: 0.1rem;
  border-right: 0.5px solid #ccc;
  border-left: 0.5px solid #ccc;
  color: #ccc;
}

.header-nav-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100%;
  background-color: rgb(240, 211, 48);
  font-size: 0.7rem;
}

.header-nav-3 p {
  color: #000;
}

/* Highlight Section */

main {
  padding-top: 50px;
}

.flex {
  display: flex;
}

.content-container {
  display: flex;
  flex-direction: column;
  height: 125vh;
  margin: 0 10px;
  padding-top: 20px;
}

.content-info,
.sub-content-info {
  margin-top: 20px;
  height: 35vh;
  margin-bottom: 10px;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
  padding: 15px;
}

.first-image {
  background-image: linear-gradient(rgba(255,255,255, 0.2), rgba(0,0,0,1)), url(../img/opal-image.png);
  background-size: cover;
  background-position: center;
}

.second-image {
  background-image: linear-gradient(rgba(255,255,255, 0.2), rgba(0,0,0,1)), url(../img/google-snip-image.png);
  background-size: cover;
  background-position: center;
}

.third-image {
  background-image: linear-gradient(rgba(255,255,255, 0.2), rgba(0,0,0,1)), url(../img/detect-snip-image.png);
  background-size: cover;
  background-position: center;
}

.content-container h1,
.content-container h2 {
  margin-bottom: 20px;
  color: #fff;
}

.content-container ul {
  list-style-type: none;
}

/* Latest funding */

.latest-funding {
  padding: 10px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.latest-funding,
.funding-heading {
  flex-direction: column;
}

.funding-heading ul {
  flex-direction: column-reverse;
  margin-top: 10px;
}

.funding-heading a,
.funding-heading h2 {
  color: #f42;
}

.box {
  margin-bottom: 20px;
}

.top-box {
  position: relative;
  height: 100px;
  background-color: #ffebe7;
}

.top-box img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.top-box p {
  padding-left: 70px;
  color: #000;
}

.top-box h4 {
  padding: 10px 10px 10px;
  background-color: #f42;
  color: #fff;
  text-align: center;
}

.top-box .value {
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  line-height: 1.4rem;
}

.top-box .text {
  font-size: 11px;
  line-height: 1.2rem;
  color: #898888;
}

.center-box {
  padding: 10px;
  flex-direction: column;
  background-color: #fffaf8;
}

.center-box a {
  font-size: 13px;
  padding: 7px 0;
  color: #000;
}

.bottom-box {
  border-top: 1px solid rgba(255, 68, 34, 0.25);
  background-color: #fffaf8;
  padding: 10px;
}

.bottom-box a {
  font-size: 12px;
}

.bottom-box p {
  color: #000;
}

.bottom-box span {
  color: #898888;
}