/* clear default value */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Intilaize list tag */
body {
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

/* ====================================================================================
                   Design Mobile First
  ==================================================================================== */

/* Styling for header section */

.nav {
  display: flex;
  position: fixed;
  top: 0;
  height: 18vh;
  width: 100%;
  flex-direction: column;
  z-index: 7;
}

.header-nav-1 {
  height: 4vh;
  width: 100%;
  background-color: #000;
  display: none;
}

.header-nav-2 {
  display: flex;
  height: 8vh;
  justify-content: space-between;
  background-color: #fff;
}

.invisible-links {
  display: none;
}

.fa-bars {
  color: #f00;
  padding: 0.7rem;
  display: inline-block;
}

.fa-search {
  padding: 0.7rem;
  margin-right: 0.1rem;
  border-right: 0.5px solid #ccc;
  border-left: 0.5px solid #ccc;
  color: #ccc;
}

.header-nav-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100%;
  background-color: rgb(240, 211, 48);
  font-size: 0.7rem;
}

.header-nav-3 p {
  color: #000;
}

/* Highlight Section */

main {
  padding-top: 50px;
}

.flex {
  display: flex;
}

.content-container {
  display: flex;
  flex-direction: column;
  height: 125vh;
  margin: 0 10px;
  padding-top: 20px;
}

.content-info,
.sub-content-info {
  margin-top: 20px;
  height: 35vh;
  margin-bottom: 10px;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
  padding: 15px;
}

.first-image {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 1)),
    url(../img/opal-image.png);
  background-size: cover;
  background-position: center;
}

.second-image {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 1)),
    url(../img/google-snip-image.png);
  background-size: cover;
  background-position: center;
}

.third-image {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 1)),
    url(../img/detect-snip-image.png);
  background-size: cover;
  background-position: center;
}

.content-info img {
  display: none;
}

.content-info .date {
  display: none;
}

.content-container h1 {
  font-size: 11px;
  margin-bottom: 10px;
  color: #fff;
}

.content-info ul {
  font-size: 9px;
}

.sub-content-info ul {
  font-size: 9px;
}

.content-container h2 {
  font-size: 11px;
  margin-bottom: 10px;
  color: #fff;
}

.content-container ul {
  list-style-type: none;
}

/* Latest funding */

.latest-funding {
  padding: 10px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.latest-funding,
.funding-heading {
  flex-direction: column;
}

.funding-heading ul {
  flex-direction: column-reverse;
  margin-top: 10px;
}

.funding-heading a {
  color: #f42;
  font-size: 12px;
}

.funding-heading h2 {
  color: #f42;
  font-size: 16px;
}

.box {
  margin-bottom: 20px;
}

.top-box {
  position: relative;
  height: 100px;
  background-color: #ffebe7;
}

.top-box img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.top-box p {
  padding-left: 70px;
  color: #000;
}

.top-box h4 {
  padding: 10px 10px 10px;
  background-color: #f42;
  color: #fff;
  text-align: center;
}

.top-box .value {
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  line-height: 1.4rem;
}

.top-box .text {
  font-size: 11px;
  line-height: 1.2rem;
  color: #898888;
}

.center-box {
  padding: 10px;
  flex-direction: column;
  background-color: #fffaf8;
}

.center-box a {
  font-size: 13px;
  padding: 7px 0;
  color: #000;
}

.bottom-box {
  border-top: 1px solid rgba(255, 68, 34, 0.25);
  background-color: #fffaf8;
  padding: 10px;
}

.bottom-box a {
  font-size: 12px;
}

.bottom-box p {
  color: #000;
}

.bottom-box span {
  color: #898888;
}

/* Footer */
footer {
  background-color: #000;
}

.footer-info {
  background-color: #131313;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

.footer-info li {
  list-style-type: none;
  display: inline;
  font-size: 7px;
  margin: 25px 8px 8px 10px;
}

.footer-info a {
  color: #898888;
  font-weight: 700;
}

footer .fa,
footer .fab,
footer .fas {
 position: relative;
  height: 35px;
  padding: 11px;
  font-size: 0.9rem;
  color: #fff;
  background-color: #343434;
  border: 2px solid #343434;
  border-radius: 50%;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-left: 0;
}

.lower-footer {
  justify-content: center;
  padding: 30px;
}

.lower-footer a,
.lower-footer img {
  height: 0.9rem;
  font-size: 13px;
}

.lower-footer p {
  color: #898888;
  font-size: 8px;
  margin: 0 5px;
}

.stackpath {
  color: #fff;
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  .nav {
    height: 25vh;
  }

  main {
    padding-top: 90px;
  }

  .header-nav-1 {
    height: 7vh;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    padding: 12px;
  }

  .header-nav-1 a {
    padding: 10px;
  }

  .header-nav-2 a {
    display: flex;
    justify-content: space-between;
    color: #000;
  }

  .invisible-links {
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    padding: 10px;
  }

  .invisible-links a {
    padding: 10px;
    color: #898888;
  }

  .fa-search {
    height: 13vh;
    padding: 14px;
    margin: 0;
  }

  .fa-bars {
    display: none;
  }

  .invisible-links a:hover {
    color: #000;
  }

  .header-nav-2 img {
    display: none;
    cursor: pointer;
  }

  .header-nav-3 {
    display: flex;
    justify-content: start;
    height: 6vh;
    padding: 10px;
    font-size: 13px;
  }

  .content-container {
    flex-direction: row;
    height: 300px;
    margin-top: 3px;
  }

  .content-info img {
    display: none;
  }
}
